* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Barlow";
  font-weight: 400;
}
img {
  display: block;
  height: auto;
}